
<h2 class="text-center"><%= session[:player_1] %> score: <%= session[:score] %></h2>
<h2 class="text-center"><%= session[:player_2] %> score: <%= session[:score_2] %></h2>
<div class="container">
  <div class="letters">
    <br>
    <br>
    <br>
    <br>
    <% @letters.each do |letter| %>
      <div class="letter"><%= letter.capitalize %></div>
    <% end %>
  </div>
  <div class="text-center">
    <p>What's the longest word you can find?</p>
    <form action="/score" method="post" class="form-inline">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :letters, @letters %>
      <div class="form-group mx-sm-3 mb-2">
        <input type="password" name="word" placeholder="Player 1 try">
        <input type="password" name="word_2" placeholder="Player 2 try">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Play</button>
    </form>
  </div>
</div>
